body {
  margin: 0px;
}

#div1 {
  background-color: blueviolet;
  height: 200px;
  width: 200px;
  padding: 20px;
  border: solid;
  border-color: black;
  border-width: 10px;
  margin-left: 220px;
}
#div2 {
  background-color: blue;
  height: 200px;
  width: 200px;
  border: solid;
  border-color: orange;
  border-width: 20px 10px 20px 10px;
}
#div3 {
  background-color: red;
  height: 200px;
  width: 200px;
  border: solid;
  border-color: pink;
  border-width: 10px;
  margin-left: 220px;
}
p {
  margin: 0;
}
